.fieldContainer {
    width: 100%;
    float: left;
}

.lblContainer {
    margin-left: 1%;
    width: 90%;
    float: left;
}

.txtContainer {
    margin-left: 1%;
    width: 90%;
    float: left;
}

.txtContainer:disabled {
    background:#dddddd;   
}

.error
{
    float: left;
    width: 90%;
}

.divider {
    border: 1px solid #35404F;
    margin-top: 5px;
    margin-bottom: 5px;
    float:left;
    width: 100%;
}

#btnAcCa {
    width: 100%;
    float: left;
}

.grid_general{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 2%;
}

.txtInvoice {
    margin-left: 1%;
    width: 40%;
    float: left;
}

.coupleFieldContainer {
    float:left; 
    width:100%;
}

.singleFieldContainer {
    float:left; 
    width:40%; 
    margin-left:1%;
}

.systemButton:disabled {
    background:#dddddd;   
}

.divider_vertical {
    border: 1px solid #35404F;
    margin-left: 5px;
    margin-right: 5px;
    height:5px;
}

.tableManager
{
    width: 100%;
    float: left;
    text-align: center;
    margin-top: 2%;
}

#NavigationMenu ul{
    list-style: none;
}

#NavigationMenu li {
    background-color: #35404F;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-right: 10px;
    width: 100px;
    text-align: center;   
    /*radius border*/
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

    a:link, a:visited,
    a:active, a:hover {
        color: #FFFFFF;
    }

.item_active{
	background: #E8BD07 !important;
}

.btnLogout {
    font-weight: bold !important;
    color: #35404F !important;
    border: none !important;
    font-size: 1em  !important;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif !important;
    padding: 0px !important;
    margin-right: 0px !important;
}

.lblLogout {
    font-size: 1em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    font-weight: bold;
    color: #35404F !important;
}